
.section__wrapper
  +container
.section__flex
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
.section_image
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  
@media screen and (max-width: 768px)
  .section__flex
    display: block