.section.section_white.section_achievements
    .section__wrapper.section__flex
        a(href="#").achievements
            .achievements__img.achievements__img_green
                img(src='img/what1.png' alt="123")
            h3.achievements__title Бизнес
            .achievements__text
                p Более 100 000<br/>успешных стартов<br/>о миру
        a(href="#").achievements
            .achievements__img.achievements__img_red
                img(src='img/what2.png' alt="123")
            h3.achievements__title Здоровье
            .achievements__text
                p Более 30 000<br/>случаев<br/>успешного лечения
        a(href="#").achievements
            .achievements__img.achievements__img_orange
                img(src='img/what3.png' alt="123")
            h3.achievements__title Обучение
            .achievements__text
                p Бесплатное обучение,<br/>собственные программы<br/>получения новых навыков.

