.section.section_blue.section_form
    h2.title.title_white Консультация по вопросам<br/>здоровья, бизнеса, продуктам, обучению<br/>бесплатно
    h3.form_title просто заполните форму ниже и с вами свяжеться наш специалист
    .form__wrap
        form
            .form__item
                input(type='text' placeholder='Обращение' name='name')
            .form__item
                input(type='tel' placeholder='Телефон' name='tel')
            .form__item
                input(type='mail' placeholder='E-mail' name='mail')
            .form__item
                input(type='text' placeholder='Направление' name='arrow')
            .form__item
                button(type='submit') Отправить