.section.section_blue.section_product.section_image(style='background-image: url(img/product_bg.jpg)')
    h2.title.title_white Продукция
    .section__wrapper.section__flex.product__wrap
        a(href="#").product
            img(src='img/product1.png' alt='123')
            span Белл Ви
        a(href="#").product
            img(src='img/product2.png' alt='123')
            span Классик
        a(href="#").product
            img(src='img/product3.png' alt='123')
            span Трай Фактор<br/>формула
        a(href="#").product
            img(src='img/product4.png' alt='123')
            span Плюс
        a(href="#").product
            img(src='img/product5.png' alt='123')
            span Кардио
        a(href="#").product
            img(src='img/product6.png' alt='123')
            span Глюкоуч