.section.section_white.section_useful
    h2.title.title_dark Кому можем быть полезны?
    .section__wrapper.section__flex.useful__wrap
        a(href="#").useful
            img(src="img/useful1.jpg" alt="123")
            .useful__text
                strong Любой возраст
                span от 3-х лет
        a(href="#").useful
            img(src="img/useful2.jpg" alt="123")
            .useful__text
                strong Спортсмены
                span разного уровня
        a(href="#").useful
            img(src="img/useful3.jpg" alt="123")
            .useful__text
                strong Доктора
                span любой специализации
        a(href="#").useful
            img(src="img/useful4.jpg" alt="123")
            .useful__text
                strong Любая профессия
                span желающие быть успешными
