@import "bourbon"
@import "neat"

@import "fonts"
@import "vars"

* 
	padding: 0
	margin: 0
	box-sizing: border-box
	-webkit-font-smoothing: antialiased


body
	padding: 0
	margin: 0
	overflow-x: hidden
	font-family: 'Circe', sans-serif
	font-weight: 400
	font-size: 16px
	line-height: 1.5

@import "setting/main"
@import "components/main"
@import "index/main"
@import "plain/main"
@import "text/main"
@import "card"
@import "other"