extends template
block title
    title Главная
block content
    //Шапка начало для главной страницы
    header.head
        //Навигация на главной
        .head-topline.head-topline_second
            .head-topline__wrapper
                a(href='/' class='logo')
                    img(src='img/logo.png' alt='123')
                nav.nav
                    ul.nav__list
                        li.nav__item.active
                            a(href='#') Продукты
                        li.nav__item
                            a(href='#') Бизнес
                        li.nav__item
                            a(href='#') Здоровье
                        li.nav__item
                            a(href='#') Обучение
                        li.nav__item
                            a(href='#') О компании
                        li.nav__item.nav__item_mobile
                            a(href='#').modal__open(data-theme='Присоедениться' data-title='Присоедениться') Присоедениться
                .head__join
                    a(href='#').modal__open(data-theme='Присоедениться' data-title='Присоедениться') Присоедениться
                <a href="#" class="toggle-mnu"><span></span></a>


        // навигация на главнойй конец
        //Видео в шапке



        //Видео в шапке конец
        //Шапка контент
        .head__wrap.section_image(style='background-image: url(img/second_bg.jpg)')
            .head__container
                h1.title_second.title_white Бизнес
                .head__text
                    p Вы устали работать на кого-то другого? Готовы ли вы к большей гибкости в своем расписании? Тогда пришло время сосредоточиться на вашем новом будущем! Будучи дистрибьютором 4Life, вы можете сегодня много работать и получать деньги завтра. Кроме того, вы можете претендовать на все оплачиваемые роскошные каникулы. 4Life предлагает отличные возможности для бизнеса с поддержкой высшего уровня, а также ценными инструментами и ресурсами, включая региональные встречи и международные конвенции.
                    p Наши дистрибьюторы имеют возможность зарабатывать больше свободы в своих финансах и наслаждаться продуктами, которые поддерживают их здоровье. Начните свой домашний бизнес сегодня и получите выгоду от возможностей оплаты на следующий день!
                    a(href='#') Присоединиться
        //Шапка контент конец
    // Шапка конец для главной страницы
    article.content_index
    //Первая секция
    include section/plain/first
    //Конец первой
    //Вторая секция
    include section/plain/rewarding
    //конец второй секциии

