include components/mixins
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		include components/styles
		block title
	body
		block content
		//Подвал
		footer.footer
			.footer__top.footer__grey
				.footer__wrap
					.footer__block
						h3.footer__title Бизнес
						ul
							li
								a(href='#') План работы
							li
								a(href='#') Мероприятия
							li
								a(href='#') Награды в бизнесе
					.footer__block
						h3.footer__title Здоровье
						ul
							li
								a(href='#') Спортсмены
							li
								a(href='#') Наука
							li
								a(href='#') Фонд
					.footer__block
						h3.footer__title Обучение
						ul
							li
								a(href='#') Обучение
							li
								a(href='#') Стратегия
							li
								a(href='#') Успехи
					.footer__block
						h3.footer__title О компании
						ul
							li
								a(href='#') Награды
							li
								a(href='#') Команда
							li
								a(href='#') Новости
					.footer__block.footer__block_big
						h3.footer__title.footer__title_center Социальные сети, присоеденяйтесь
						ul.footer__social
							li
								a(href='#')
									img(src='img/youtube.png' alt='123')
							li
								a(href='#')
									img(src='img/instagram.png' alt='123')
							li
								a(href='#')
									img(src='img/facebook.png' alt='123')

			.footer__bottom
		//Конец подвала
		include components/scripts