extends template
block title
    title Главная
block content
    //Шапка начало для главной страницы
    header.head
        //Навигация на главной
        .head-topline.head-topline_second
            .head-topline__wrapper
                a(href='/' class='logo')
                    img(src='img/logo.png' alt='123')
                nav.nav
                    ul.nav__list
                        li.nav__item.active
                            a(href='#') Продукты
                        li.nav__item
                            a(href='#') Бизнес
                        li.nav__item
                            a(href='#') Здоровье
                        li.nav__item
                            a(href='#') Обучение
                        li.nav__item
                            a(href='#') О компании
                        li.nav__item.nav__item_mobile
                            a(href='#') Присоедениться
                .head__join
                    a(href='#') Присоедениться
                <a href="#" class="toggle-mnu"><span></span></a>


        // навигация на главнойй конец
        //Видео в шапке



        .page__wrapper
            aside.aside
                .aside__mobile План работы
                nav.aside__nav
                    ul
                        li
                            a(href="#") План работы
                        li.active
                            a(href="#") Награждение
                        li
                            a(href="#") Мероприятия
                        li
                            a(href="#") Подать заявку
            .page__content.page__text
                h1 План работы
                p Товарищи! консультация с широким активом способствует подготовки и реализации существенных
                    |финансовых и административных условий. Не следует, однако забывать, что дальнейшее развитие
                    |различных форм деятельности требуют определения и уточнения новых предложений. Повседневная
                    |практика показывает, что сложившаяся структура организации требуют определения и уточнения
                    |соответствующий условий активизации. Товарищи! постоянное информационно-пропагандистское
                    |обеспечение нашей деятельности позволяет оценить значение форм развития. Значимость этих проблем
                    |настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу
                    |(специалистов) участие в формировании соответствующий условий активизации.
                p Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной
                    |степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.
                    |Товарищи! рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в
                    |формировании дальнейших направлений развития. Разнообразный и богатый опыт начало повседневной
                    |работы по формированию позиции в значительной степени обуславливает создание направлений
                    |прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых
                    |заданий способствует подготовки и реализации систем массового участия.
                img(src='img/text1.jpg' alt='123')
                p Товарищи! консультация с широким активом способствует подготовки и реализации существенных
                    | финансовых и административных условий. Не следует, однако забывать, что дальнейшее развитие
                    | различных форм деятельности требуют определения и уточнения новых предложений. Повседневная
                    | практика показывает, что сложившаяся структура организации требуют определения и уточнения
                    | соответствующий условий активизации. Товарищи! постоянное информационно-пропагандистское
                    | обеспечение нашей деятельности позволяет оценить значение форм развития. Значимость этих проблем
                    | настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу
                    | (специалистов) участие в формировании соответствующий условий активизации.
                img(src='img/text2.jpg' alt='123')
                p Товарищи! консультация с широким активом способствует подготовки и реализации существенных
                    | финансовых и административных условий. Не следует, однако забывать, что дальнейшее развитие
                    | различных форм деятельности требуют определения и уточнения новых предложений. Повседневная
                    | практика показывает, что сложившаяся структура организации требуют определения и уточнения
                    | соответствующий условий активизации. Товарищи! постоянное информационно-пропагандистское
                    | обеспечение нашей деятельности позволяет оценить значение форм развития. Значимость этих проблем
                    | настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу
                    | (специалистов) участие в формировании соответствующий условий активизации.
                img(src='img/text3.jpg' alt='123')
    //Шестая секция
    include section/index/form
    //Шестая пятой секции

