.present
    .present__wrap
        .present__item
            .present__img
                img(src='img/present1.png' alt='123')
            p План работы
        .present__item
            .present__img
                img(src='img/present2.png' alt='123')
            p Награждения
        .present__item
            .present__img
                img(src='img/present3.png' alt='123')
            p Мероприятия


section.section.section_plain
    h2.title.title_dark План работы
    .plain__wrapper
        img(src='img/plain.jpg' alt='123')
        p Без ограничений
        p План компенсации 4Life
        p 4Life - это лучшая сетевая маркетинговая компания
            |с планами Life Rewards Plan ™, которая предлагает
            |одни из самых высоких выплат в отрасли.
            |Наш план вознаграждает как заработка, так и за
            |полный рабочий день бизнес-строителей.
        p Дистрибьюторы могут ежемесячно получать
            |комиссионные, бонусы за бесконечность, платежи
            |за пул Power и роскошные поездки Great Escape
            |в места мечты.
        a(href="#").people__button.people__button_white.button_more Присоедениться