section.section.section_rewarding
    h2.title.title_dark Награждения
    .rewarding__wrapper
        .rewarding__flex
            a(href="#").rewarding.rewarding_big
                img(src='img/rewarding.jpg' alt='123')
                .rewarding__text.rewarding__text_big
                    p 4Life Research награждает своих партнёров
                        |ценными подарками, отмечает лучших и помогает
                        |отставшим и всё это в формате масштабных
                        |мероприятий со спикерами со всего мира.
                    .button__info Узнать
            .rewarding__wrap
                a(href="#").rewarding.rewarding_small
                    img(src='img/rewarding.jpg' alt='123')
                    .rewarding__text
                        h4 Ранжирование
                        p Создание ранка партнёров компании
                        .button__info Узнать
                a(href="#").rewarding.rewarding_small
                    img(src='img/rewarding.jpg' alt='123')
                    .rewarding__text
                        h4 Ранжирование
                        p Создание ранка партнёров компании
                        .button__info Узнать
                a(href="#").rewarding.rewarding_small
                    img(src='img/rewarding.jpg' alt='123')
                    .rewarding__text
                        h4 Ранжирование
                        p Создание ранка партнёров компании
                        .button__info Узнать
                a(href="#").rewarding.rewarding_small
                    img(src='img/rewarding.jpg' alt='123')
                    .rewarding__text
                        h4 Ранжирование
                        p Создание ранка партнёров компании
                        .button__info Узнать
        a(href='#' style='margin-top: 30px').button.people__button.people__button_white.button_more Подробнее
.section.section_white.section_people
    h2.title.title_dark Мероприятия
    .section__wrapper.section__flex.people__wrap
        -var $x = 6;
        -for ($i=1; $i<=$x; $i++)
            .people.asks
                img(src='img/people.jpg' alt='123')
                .people__text
                    h4 Перл Гонсалес
                    p боец ММА
                    a(href='#') Прочитать
        .people__bottom
            a(href='#' style='margin-top: 30px').button.people__button.people__button_white.button_more Подробнее





